<%- include('header') -%>

  <div class="forkme">
      <a href="https://github.com/fauzan121002/encryptlab">Fork EncryptLab on Github</a>
  </div>

  <div id="app">

    <%- include('navigation') -%>

    
    <section class="section w-full bg-gradient-to-r  to-green-500 from-green-600 flex items-center justify-center flex-col" id="hero">
      <h1 class='text-center text-4xl mb-5 text-white font-bold'>Encrypt & Decrypt Tools With Example Code in Node.js</h1>
      <div>
        <img class="inline-block" src="https://img.shields.io/github/tag/fauzan121002/encryptlab.svg" alt="encryptlab - badge not found">
        <img class="inline-block" src="https://github.com/fauzan121002/encryptlab/workflows/Node.js%20CI/badge.svg" alt="encryptlab - badge not found">
        <img class="inline-block" src="https://img.shields.io/badge/License-MIT-blue.svg" alt="encryptlab - badge not found">
      </div>
    </section>

    <main class="content container mx-auto">

      <%- include('encryption/3des') -%>

      <%- include('encryption/rsa') -%>

      <%- include('encryption/blowfish') -%>

      <%- include('encryption/twofish') -%>

      <%- include('encryption/aes') -%>

    </main>

<%- include('footer') -%>