<%- include('header') -%>

  <div class="forkme">
      <a href="https://github.com/fauzan121002/encryptlab">Fork EncryptLab on Github</a>
  </div>

  <div class="container-lg p-3">
    <h1 class="text-4xl sm:text-5xl md:text-5xl lg:text-5xl xl:text-5xl"><span class="text-green-700">Encrypt</span>Lab</h1>
    <h4 class="text-xs sm:text-xs md:text-xs lg:text-xs xl:text-xs">Encrypt & Decrypt Tools With Example Code in Node.js</h4>

    <div class="badges">
      <img class="inline-block" src="https://img.shields.io/github/tag/fauzan121002/encryptlab.svg" alt="encryptlab - badge not found">
      <img class="inline-block" src="https://github.com/fauzan121002/encryptlab/workflows/ci/badge.svg" alt="encryptlab - badge not found">
      <img class="inline-block" src="https://img.shields.io/badge/License-MIT-blue.svg" alt="encryptlab - badge not found">
    </div>

    <%- include('navigation') -%>

    <div class="content">

      <%- include('encryption/3des') -%>

      <%- include('encryption/rsa') -%>

      <%- include('encryption/blowfish') -%>

      <%- include('encryption/twofish') -%>

      <%- include('encryption/aes') -%>

  </div>

<%- include('footer') -%>